
		<div class="content" style="width: 84%">
			<img width='100%' src='http://web.cmdm.tw/html/gc2ms_Map.jpg'>
		</div>
		<div id="page">
			<div id="header" style="margin-left:auto; margin-right:auto; font-size: 12px !important; width:900px; position:relative; margin-top: 50px">
				<div>
					<h1 align="center">MetaMOPE</h1>
					<h2 style="font-size: 24px; margin-bottom: 50px" align="center">MObile phase picking and Peak Evaluation for metabolomics analysis</h2>
					<img class="wf-img mpe-img" src="/assets/MPE_workflow.jpg">
					<img class="wf-img rb-img" src="/assets/RefLib_workflow.jpg">
				</div>
			</div> <!-- end of header -->
			<div id="content" class='container'>
				<div id="home">
					<h4>Workflow</h4>
					<ul>
						<li><div>
							<p class="wf-title">
								For determining optimized mobile phase: 
							</p>
							<p class="wf-content">
								The input mzXML file of a sample would be read to generate the extracted ion chromatograph(EIC) of standard analyses. 
								For each analyze peak, MetaMOPE would carry out iteratively reweighed least squares(IRLS) baseline correction and Savitzky-Golay smoothing, 
								followed by the calculation of maximum intensity, mass chromatographic quality index(MCQ) and asymmetry factor. 
								If the maximum intensity and MCQ are above user specified threshold, the peak would be validated. 
								The best mobile phase is the one with the most validated peaks and averaged asymmetry factor.
							</p>
						</div></li>
						<li><div>
							<p class="wf-title">
								For fast chromatographic peak evaluation:
							</p>
							<p class="wf-content">
								With baseline correction and smoothing of EIC being performed, MetaMOPE can generate: 
								MCQ, maximum intensity, relative standard deviation(RSD) of retention time, 
								ratio of standard over blank(Std/Blk) intensity, jaggedness, asymmetry factor, FWHM and modality. 
								This is used to assess data quality of chromatographic peaks for metabolomics.
							</p>
						</div></li>
					</ul>

					<h4>Usage</h4>
					<div>
						<ol style="line-height: 25px">
							<li>Create a project & order a service</li>
							<li>Set project parameters & upload information files</li>
							<li>Upload mzXML files</li>
							<li>Run analyses</li>
							<li>Retrieve result</li>
						</ol>
					</div>

					<br>
        			<span class='center-block'>URL: http://gc2ms.cmdm.tw, http://gc2ms.web.cmdm.tw</span>
				</div>
			</div> <!-- end of content -->
		</div>
		