
		<div class="content" style="width: 84%">
			#<img width='100%' src='http://web.cmdm.tw/html/gc2ms_Map.jpg'>
		</div>
		<div id="page">
			<div id="header" style="margin-left:auto; margin-right:auto; font-size: 12px !important; width:900px; position:relative; margin-top: 50px">
				<div id="banner" align="center">
					<table>
						<td>
							<!--<img id="GC2MS" align="left" src="http://cmdm.tw/~nauynas/GC2MSlogo.png" height="240" alt="GC2MS"/>--><%= image_tag 'gc2ms.png', :style => "height: 240px" %>
						</td>
						<td> 
							<h1 align="center">MetaMOPE</h1>
							<h2 align="center">Mobile phase picking and peak evaluation for metabolomics analysis</h>
						</td>
					</table>
				</div>
			</div> <!-- end of header -->
			<div id="content" class='container'>
				<div id="home">
					<p class='text-center'>
						description 1
					</p>
					<p class='text-center'>
						description 2
					</p>
        		<span class='center-block'>URL: http://gc2ms.cmdm.tw, http://gc2ms.web.cmdm.tw</span>
				</div>
			</div> <!-- end of content -->
		</div>
		