<br>
<div id="page">
	<div id="header" style="margin-left:auto; margin-right: auto; font-size: 12px !important; width:900px; position:relative; margin-top: 50px">
		<div>
			<h1 align="center">MetaMOPE</h1>
			<h2 style="font-size: 24px; margin-bottom: 50px; margin-top: 20px" align="center">Mobile Phase Picking and Peak Evaluation for Metabolomics Analysis</h2>
		</div>
		<br>
		<div align="center" class='main-func'>
			<div>
				<%= link_to('Click here to start', new_project_path) %>
				<p style="display: inline">|</p>
				<%= link_to('Existing projects', projects_path) %>
			</div>
			<div style="display: inline">
				<p style="font-size: 12px; display: inline; margin-right: 70px">(Create a project)</p>
				<p style="font-size: 12px; display: inline; margin-right: 10px">(My projects)</p>
			</div>
			<br>
			<br>
			<%= link_to('FAQs', document_path) %>
		</div>
	</div> 
</div>
		